/*.media-object {
  max-width: 200px;
}*/

[ng-click] {
  cursor: pointer;
}

.search-form {
  margin-top: 4px;
}

.post {
  margin: 30px;
  padding: 10px;
  display: flex;
  height: 230px;
  border: 2px solid black;
  /*margin-bottom: 4em;*/
  flex-direction: row;
  flex-wrap: wrap;
}

.imgcontainer {
  postion: relative;
  height: 200px;
  width: 200px;
}
.img {
  postion: relative;
  height: 100%;
  width: 100%;
}

.titlecontainer {
  margin: 10px;
  /*flex-wrap: wrap;*/
}

.toolbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.button {
  flex-grow: 1;
}

.bodycontainer {
  margin: 10px;
}
