.App {
  /* text-align: center; */
}

body {
  background-color: teal;
}
.titlebar {
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-self: center;
  background-color: gold;
  width: 100%;
}

.title {
  order: 1;
  flex-grow: 1;
  font-size: 40px;
  font-family: 'Homemade Apple', cursive;
  /* width: 170px; */
  margin: 5px;
}

.menu {
  height: 100%;
  width: 300px;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-self: center;
}

.landingForm {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-self: center;
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
