.App {

}

body{
  background-image: url('./assets/travelmoney.jpeg');
  background-size: cover;
}

input[type=text]{
  border-radius: 8px;
  border: 0;
  padding-left: 12px;
  padding-right: 12px;
  height: 2.5em;
  margin: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type=password]{
  border-radius: 8px;
  border: 0;
  padding-left: 12px;
  padding-right: 12px;
  height: 2.5em;
  margin: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input::placeholder {
  font-style: "Roboto Condensed", sans-serif;
}

input:placeholder-shown {
  font-style: "Roboto Condensed", sans-serif;
}

/* ================Landing============ */
.Landing {
  display: flex;
  justify-content: center;
  height: 100%;
  font-family: 'Homemade Apple', cursive;
}
.landingForm {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  width: 600px;

  justify-content: space-around;
  align-self: center;
}

.loginform {
  display: flex;
  justify-content: center;
}

.loginInput {
  font-size: 100%;
}

.formSubmitButton {
  font-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 8px;
  width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.formSubmitButton:hover{
  background-color: grey;
    color: white;
}

.formSigninButton {
  font-size: 100%;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: teal;
  align-self: center;
  width: 200px;
  height: 40px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.formSigninButton:hover{
  background-color: grey;
  color: white;
}

p {
  font-style: 25px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.landingsignup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ===========Sign Up============= */
.Signup{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.signUpForm {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.signinInput {
  font-size: 100%
}

.button {
  display: flex;
  justify-content: center;
}

.submitButton {
  font-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: teal;
  margin: 8px;
  width: 150px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.submitButton:hover {
  background-color: grey;
  color: white;
}




/* =======NavBar============== */
.NavBar {
  display:flex;
  width: 100%;
}

.titlebar {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* align-self: center; */
  background-color: gold;
  width: 100%;
  height: 70px;
}

.title {
  font-size: 40px;
  font-family: 'Homemade Apple', cursive;
  /* width: 170px; */
  /* margin: 15px; */
  margin-left: 20px;
  flex-grow: 1;
}

.menu {
  height: 100%;
  width: 150px;
  flex-grow: 1;
  order: 2;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-self: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.greeting{
  align-self: center;
  margin: 20px;
}

.submenu {
  display: inline-flex;
  flex-direction: row-reverse;
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: space-around;
  align-content: center;
  align-self: center;
  flex-grow: 1;
}


.logoutButton {
  font-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 30px;
  margin: 20px;
  background-color: white;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.logoutButton:hover {
  background-color: grey;
  color: black;
}

.navButtons {
  font-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 8px;
  margin: 8px;
  width: 75px;
  height: 30px;
  background-color: teal;
  color: black;
  align-self: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

.navButtons:hover {
  background-color: grey;
  color: white;
}

.menuLink{
  margin: 8px;
  align-self: center;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  border-bottom: 2px solid black;
}



/* ===============Dashboard============= */
.Dashboard{
  display: flex;
  flex-direction: row;
  height: 100%;
  /* background-image: url('http://obniiis.com/wp-content/uploads/2017/04/teal-flowers-for-wedding-inspiration-smart-4.jpg'); */
}

.dashboardcontainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100%; */
}




/* ===========Wishlist Sidebar========== */
.scrollbar{
  display: flex;
  height: 100%;
  width: 25%;
}
.Wishlist{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #540800;
  width: 300px;
  border: 3px solid black;
}

/* ==========Wishlist Items============== */
.WishlistItem {
  margin: 10px;
  padding: 5px;
  background-color: white;
  border-style: double;
  border: 2px solid black;
}

.itemcontainer {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.listpicturecontainer {
  display:flex;
  justify-content: center;
  /* border: 1px solid black; */
  margin: 5px;
  padding: 5px;
}

.listpicture {
  margin: 5px;
}

.listnamecontainer {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  margin: 5px;
  padding: 5px;
}

.listname {
  text-align: center;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}


.pricecontainer {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  margin: 5px;
  padding: 5px;
}

.newprice {
  font-family: 'Roboto Condensed', sans-serif;
  align-self: center;
}

/* ==========Salary Breakdown Container======== */
.Salary {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  width: 400px;
  height: 300px;
  align-self: flex-end;
  margin: 30px;
}

.salaryheader {
  display: flex;
  padding: 5px;
  border: 3px solid black;
  background-color: #229975;
  /* width: 100%; */
  /* align-content: center; */
}

.salarytitle{
  text-align: center;
  align-self: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}

.salaryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  border: 3px solid black;
  background-color: #74de94;
  /* width: 100%; */
}

.salarydisplay {
  display: flex;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: center;
  justify-content: space-around;
  /* width: 100%; */
  padding: 10px;
}

.salaryedit {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 10px;
  align-items: center;
}

.salaryOutputs {
  font-size: 100%;
  width: 100%
}

.salaryButton {
  /* font-size: 100%; */
  align-self: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 8px;
  border-radius: 10px;
  height: 30px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.salaryButton:hover {
  background-color: grey;
  color: white;
}

/* =============Item Display=================== */
.ItemDisplay {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
}

.imagedisplaycontainer {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 250px;
  border: 5px solid black;
  background-color: white;
  margin: 25px;
  /* align-content: center; */
}

.imagedisplay {
  width: 50%;
  height: 75%;
  align-self: center;
  margin: 25px;
  border: 1px solid black;
}

.priceHoursDisplay {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: center;
  /* align-items: center; */
  margin: 12px;
  /* font-weight: bold; */
  /* font-size: 25px; */
  color: black;
}

.cost {
  margin: 10px;
}

.hours {
  margin: 10px;
}
